.product-card {
    max-width: 280px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.product-button {
    background-color: blueviolet;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.product-button:hover {
    background-color: rgb(63, 23, 101);
}
