.box {
    width: 200px;
    height: 200px;
    background-color: green;
    animation-name: switch-color;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 4;
}

@keyframes switch-color {
    10% {
        background-color: green;
        width: 200px;
        height: 200px;
        transform: rotate(20deg);
    }

    30% {
        background-color: red;
        width: 300px;
        height: 200px;
        transform: rotate(40deg);
    }

    50% {
        background-color: pink;
        width: 400px;
        height: 300px;
        transform: rotate(60deg);
    }

    70% {
        background-color: magenta;
        width: 400px;
        height: 400px;
        transform: rotate(120deg);
    }

    90% {
        background-color: blue;
        width: 300px;
        height: 300px;
        transform: rotate(180deg);
    }
}
